<div class="grid grid-rows-[15fr_60fr] min-h-screen relative">
    <div class="custom-background-top top-0 w-full h-full z-50"></div>
   
    <div class="custom-background relative z-40">
        <div class="mx-10 my-5 bg-[rgba(217,217,217,255)] rounded-xl relative">
            <div class="flex items-center text-gray-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute inset-y-0 m-auto ml-3 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
                <input type="text" name="search" [(ngModel)]="searchText" placeholder="ค้นหา" class="responsive-text flex bg-[rgba(217,217,217,255)] w-full h-10 mx-2 pl-10 text-base focus:outline-none">
                <button type="submit" class="absolute right-0 top-0 mt-3 mr-4"></button>
            </div>
        </div>

        <div class="m-3 bg-white rounded-3xl ">
            <div class="grid grid-cols-5 gap-6 p-4 mr-4">
                <div class="flex items-center justify-center border-2 border-yellow-600 hover:bg-yellow-500 bg-white shadow-md rounded-xl px-7  ">
                    <div class="flex flex-col items-center ">
                      <img src="assets/image/menu_bar01.png" class="mx-auto object-center object-middle">
                      <p class="mx-auto text-center text-sm md:text-base lg:text-lg xl:text-xl flex-col ">แนะนำ</p>
                    </div>
                </div>
                <div class="flex items-center justify-center border-2 border-yellow-600 hover:bg-yellow-500 bg-white shadow-md rounded-xl px-7   ">
                    <div class="flex flex-col items-center ">
                      <img src="assets/image/menu_bar01.png " class="mx-auto object-center object-middle">
                      <p class="mx-auto text-center text-sm md:text-base lg:text-lg xl:text-xl flex-col ">ก๋วยเตี๋ยว</p>
                    </div>
                </div>
                <div class="flex items-center justify-center border-2 border-yellow-600 hover:bg-yellow-500 bg-white shadow-md rounded-xl px-7 ">
                    <div class="flex flex-col items-center pt-2">
                      <img src="assets/image/menu_bar01.png" class="mx-auto object-center object-middle">
                      <p class="mx-auto text-center text-sm md:text-base lg:text-lg xl:text-xl flex-col ">อาหารตามสั่ง</p>
                    </div>
                </div>
                <div class="flex items-center justify-center border-2 border-yellow-600 hover:bg-yellow-500 bg-white shadow-md rounded-xl px-7 ">
                    <div class="flex flex-col items-center pt-2">
                      <img src="assets/image/menu_bar01.png" class="mx-auto object-center object-middle">
                      <p class="mx-auto text-center text-sm md:text-base lg:text-lg xl:text-xl flex-col">ของทานเล่น</p>
                    </div>
                </div>
                <div class="flex items-center justify-center border-2 border-yellow-600 hover:bg-yellow-500 bg-white shadow-md rounded-xl px-7 ">
                    <div class="flex flex-col items-center pt-2">
                      <img src="assets/image/menu_bar01.png" class="mx-auto object-center object-middle">
                      <p class="mx-auto text-center text-sm md:text-base lg:text-lg xl:text-xl flex-col">เครื่องดื่ม</p>
                    </div>
                </div>
            </div>
        </div>

          
        <div class="grid grid-cols-2 gap-3 mx-3 mt-2 mb-5 ">
            <div class="flex items-center justify-center bg-white shadow-md lg:mx-36 lg:pt-4 rounded-lg hover:border-2 p-2 border-orange-500 cursor-pointer" *ngFor="let order of orders | filter:searchText">
                <div >
                  <img src="assets/image/food01.png">
                  <p class="mx-2 pt-1.5">{{ order.name }}</p>
                  <p class="font-bold mx-2">{{ order.price}} B</p>
                </div>
              </div>
        </div>
    </div>
</div> 



